@media screen and (min-width:1000px){
  .category_swiper_block{
    .video_block_link{
      .video_description{
        .video_title{
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (max-width:1000px){
  .category_swiper_block{
    .video_block_link{
      .video_description{
        .video_title{
          font-size: 14px;
        }
      }
    }
  }
}
.category_swiper_block{
  width: 200px;
  padding: 3px;
  .video_block_link{
    color: #1a1e28;
    &:hover{
      text-decoration: none;
      color: #adadad;
    }
    .image{
      width: 100%;
      position: relative;
      overflow: hidden;
      aspect-ratio: 16/9;
    }
    .video_description{
      background-color: #f3f3f3;
      padding: 6px;
      text-align: left;
      .video_title{
        height: 100px;
        font-weight: 500;
      }
      .display_date{
        font-size: 10px;
        color: #747474;
        &:hover{
          color: #adadad;
        }
      }
    }
  }
}