$tw-ring-offset-shadow:0 0 rgba(0,0,0,0);
$tw-shadow:1px 0px 5px 1px rgba(0,33,155,0.12);
$tw-ring-shadow:0 0 rgba(0,0,0,0);
.page_header_more_options_button_with_more_box{
  position: relative;
  .more_options_button{
    background-color: #fff;
    color: rgba(0,0,0,0.6);
    margin-right: 5px;
    padding: 3px;
    border: solid 1px rgba(0,0,0,0.12);
    border-radius: 20px;
    box-shadow: none;
    display: flex;
    align-items: center;
    .fontawesome_icon{
      height: 20px;
      width: 20px;
      .caret_up,.caret_down{
        font-size: 14px;
        transition: all 0.5s ease 0s;
      }
      .caret_up{
        color: #adadad;
        transform: rotate(0deg);
      }
      .caret_up{
        transform: rotate(180deg);
      }
    }
  }
  .more_box{
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 15;
    .more_options_box{
      background-color: #fff;
      color: #db5959;
      font-weight: 500;
      padding: 10px 16px;
      border-radius: 6px;
      box-shadow: $tw-ring-offset-shadow,0 0 transparent,$tw-ring-shadow,0 0 transparent,$tw-shadow;
      .word_size{
        display: flex;
        align-items: center;
        white-space: nowrap;
        .size{
          margin-right: 24px;
        }
        .small_size{
          font-size: 12px;
          color: #6c757d;
          padding: 0 8px;
          cursor: pointer;
        }
        .medium_size{
          font-size: 16px;
          color: #6c757d;
          padding: 0 8px;
          cursor: pointer;
        }
        .large_size{
          font-size: 20px;
          color: #6c757d;
          padding-left: 8px;
          cursor: pointer;
        }
        .active_size{
          color: #db5959;
        }
      }
    }
  }
}