.video_block{
  padding: 3px;
  .video_block_link{
    color: #1a1e28;
    &:hover{
      text-decoration: none;
      color: #adadad;
    }
    .image{
      width: 100%;
      position: relative;
      overflow: hidden;
      aspect-ratio: 16/9;
    }
    .video_description{
      text-align: left;
      .video_title{
        font-weight: 600;
      }
      .display_date{
        font-size: 10px;
        color: #747474;
        &:hover{
          color: #adadad;
        }
      }
    }
  }
}