@media screen and (min-width:1000px){
  .comments_block{
    .comment_article{
      .icon{
        height: 55px;
        width: 55px;
        margin-right: 24px;
        flex-shrink: 0;
      }
    }
  }
}
@media screen and (max-width:1000px){
  .comments_block{
    .comment_article{
      .icon{
        height: 36px;
        width: 36px;
        margin-right: 10px;
        flex-shrink: 0;
      }
    }
  }
}
$filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
$secondary-text: #65676b;
.comments_block{
  .comment_article{
    padding-top: 5px;
    display: flex;
    .comment_with_response{
      .comment{
        width: fit-content;
        background-color: #e2e2e2;
        color: rgba(0,0,0,0.78);
        padding: 4px 8px;
        border-radius: 10px;
        .name{
          font-weight: 600;
        }
        .words{
          font-size: 11px;
        }
      }
      .response{
        padding-left: 8px;
        .time_share{
          font-size: 11px;
          display: flex;
          align-items: center;
          .time{
            color: #adadad;
            &::after{
              content: "．";
              display: inline-block;
            }
          }
          .like{
            &::after{
              content: "．";
              color: #adadad;
              display: inline-block;
            }
          }
          .like,.reply{
            color: #6c757d;
            cursor: pointer;
          }
        }
        .others_like{
          height: 24px;
          width: fit-content;
          background-color: #e2e2e2;
          margin-bottom: 5px;
          padding: 2px 6px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          .emoji_comments{
            margin-right: 5px;
            display: flex;
            align-items: center;
            .emoji_comment{
              &:nth-child(1){
                z-index: 3;
              }
              &:nth-child(2){
                z-index: 2;
              }
              &:nth-child(3){
                z-index: 1;
              }
              &:nth-child(4){
                z-index: 0;
              }
            }
            .like_emoji{
              height: 18px;
              width: 18px;
              position: relative;
              border: solid 1px #ffcfcc;
              border-radius: 50%;
            }
            .happy_emoji,.sad_emoji,.angry_emoji{
              height: 18px;
              width: 18px;
              margin-left: -4px;
              position: relative;
              border: solid 1px #ffcfcc;
              border-radius: 50%;
            }
          }
        }
        .responses_to_comment{
          .responses{
            color: $secondary-text;
            display: flex;
            align-items: center;
            cursor: pointer;
            .responses_number_image{
              height: 16px;
              width: 16px;
              background-image: url("../../../../pages/image/reply.png");
              background-repeat: no-repeat;
              background-size: 16px;
              margin-right: 3px;
              display: inline-block;
              aspect-ratio: 26/21;
              filter: $filter-secondary-icon;
            }
            .responses_number{
              padding-bottom: 4px;
            }
            .others_responses{
              margin: 0;
              padding: 0;
            }
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}