@mixin max-view-width(){
  @media screen and (min-width:600px){
	  margin: 0 16px;
	}
	@media screen and (min-width:1000px){
	  margin: 0 20px;
	}
	@media screen and (min-width:1200px){
	  max-width: calc(100vw - 118px - 118px);
	  margin: 0 auto;
	}
	@media screen and (min-width:1346px){
	  max-width: 1110px;
	  margin: 0 auto;
	}
}
@mixin max-video-width(){
	@media screen and (min-width:600px){
	  width: calc(100% - 20px - 260px);
    margin-right: 20px;
	}
  @media screen and (min-width:1000px){
	  width: calc(100% - 20px - 300px);
    margin-right: 20px;
	}
  @media screen and (min-width:1200px){
	  width: calc(65% - 10px);
    margin-right: 20px;
	}
}
@mixin max-sidebar-width(){
  @media screen and (min-width:600px){
	  width: 260px;
	}
  @media screen and (min-width:1000px){
	  width: 300px;
	}
  @media screen and (min-width:1200px){
	  width: calc(35% - 10px);
	}
}
@media screen and (min-width:600px){
  .video.pid{
    .video_content{
      margin-top: 80px;
      .page{
        .breadcrumb{
          margin-right: 6px;
        }
        .body{
          .main_content{
            .video_player_with_description{
              .video_header{
                .hide_top_buttons,.top_buttons{
                  display: flex;
                  align-items: center;
                  .comment_button{
                    .fontawesome_icon{
                      height: 14px;
                      width: 14px;
                    }
                  }
                }
              }
            }
            .emoji_comment_section{
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .sidebar{
            .sticky_sidebar{
              position: sticky;
              top: 50px;
            }
          }
        }
      }
      .trending_content{
        display: none;
      }
    }
    .bottom_typing_comment{
      display: none;
    }
  }
}
@media screen and (max-width:600px){
  .video.pid{
    padding-bottom: 89px;
    .video_content{
      margin-top: 88px;
      .page{
        .body{
          flex-direction: column;
          .main_content{
            .video_player_with_description{
              .video_header{
                padding: 0 6px;
                .hide_top_buttons,.top_buttons{
                  display: none;
                }
              }
            }
            .tag_list{
              padding-left: 6px;
            }
            .comment_row,.emoji_comment_section{
              display: none;
            }
          }
          .sidebar{
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width:800px){
  .video.pid{
    .video_content{
      .page{
        .body{
          .main_content{
            .video_player_with_description{
              .video_header{
                align-items: flex-end;
                justify-content: space-between;
                flex-direction: row;
                .video_information{
                  max-width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:800px){
  .video.pid{
    .video_content{
      .page{
        .body{
          .main_content{
            .video_player_with_description{
              .video_header{
                flex-direction: column;
                .hide_top_buttons,.top_buttons{
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:900px){
  .video.pid{
    .video_content{
      .page{
        .body{
          .main_content{
            .video_player_with_description{
              .video_header{
                .hide_top_buttons,.top_buttons{
                  .comment_button{
                    padding: 3px 9px;
                    border-radius: 20px;
                    .fontawesome_icon{
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:900px){
  .video.pid{
    .video_content{
      .page{
        .body{
          .main_content{
            .video_player_with_description{
              .video_header{
                .hide_top_buttons,.top_buttons{
                  .comment_button{
                    padding: 6px;
                    border-radius: 50%;
                    .number{
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.video.pid{
  font-size: 14px;
  .video_content{
    .page{
      @include max-view-width;
      .breadcrumb{
        padding-top: 20px;
        .breadcrumb_link{
          a{
            text-decoration: none;
            color: #6c757d;
            &:hover{
              color: #adadad;
            }
          }
        }
      }
      .body{
        margin-bottom: 25px;
        position: relative;
        display: flex;
        .main_content{
          @include max-video-width;
          .video_player_with_description{
            .video_header{
              margin-bottom: 15px;
              display: flex;
              .video_information{
                .video_subcategory{
                  font-weight: 600;
                  color: #adadad;
                  padding-bottom: 12px;
                }
                .video_title{
                  font-size: 20px;
                  font-weight: 600;
                  color: #db5959;
                  word-break: keep-all;
                }
                .video_date{
                  font-size: 10px;
                  color: #adadad;
                }
              }
              .hide_top_buttons,.top_buttons{
                .comment_button{
                  background-color: #fff;
                  color: rgba(0,0,0,0.78);
                  margin-right: 5px;
                  border: solid 1px rgba(0,0,0,0.12);
                  box-shadow: none;
                  display: flex;
                  align-items: center;
                }
              }
              .hide_top_buttons{
                opacity: 0;
                visibility: hidden;
              }
            }
            .video_player{
              height: auto;
              width: auto;
              margin-bottom: 15px;
            }
            .video_description{
              margin-bottom: 10px;
              padding: 10px 15px;
              border: solid 1px rgba(0,0,0,0.12);
              border-radius: 2px;
            }
            .small_word{
              font-size: 10px;
            }
            .large_word{
              font-size: 18px;
            }
          }
          .tag_list{
            display: flex;
            flex-wrap: wrap;
            .tag{
              background-color: #fff;
              color: rgba(219,89,89,0.932);
              margin: 0 8px 12px 0;
              padding: 4px 12px;
              border-radius: 20px;
            }
          }
          .comment_row{
            font-size: 11px;
            color: rgba(0,0,0,0.78);
            padding: 0 12px;
            border-top: solid 1px #e2e2e2;
            border-bottom: solid 1px #e2e2e2;
            .like_and_comments_count{
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .emoji_comments_count{
                display: flex;
                align-items: center;
                cursor: pointer;
                .emoji_comments{
                  margin-right: 5px;
                  display: flex;
                  align-items: center;
                  .emoji_comment{
                    &:nth-child(1){
                      z-index: 3;
                    }
                    &:nth-child(2){
                      z-index: 2;
                    }
                    &:nth-child(3){
                      z-index: 1;
                    }
                    &:nth-child(4){
                      z-index: 0;
                    }
                  }
                  .like_emoji{
                    height: 18px;
                    width: 18px;
                    position: relative;
                    border: solid 1px #ffcfcc;
                    border-radius: 50%;
                  }
                  .happy_emoji,.sad_emoji,.angry_emoji{
                    height: 18px;
                    width: 18px;
                    margin-left: -4px;
                    position: relative;
                    border: solid 1px #ffcfcc;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
          .emoji_comment_section{
            .emoji{
              display: flex;
              align-items: center;
              .emoji_image{
                height: 62px;
                width: 62px;
                position: relative;
                cursor: pointer;
                &::before{
                  background-color: rgba(0,0,0,0.78);
                  color: #fff;
                  font-size: 12px;
                  padding: 2px 8px;
                  border-radius: 18px;
                  position: absolute;
                  top: -18px;
                  left: 50%;
                  opacity: 0;
                  white-space: nowrap;
                  transition: opacity 0.2s ease-in-out 0s;
                  transform: translateX(-50%);
                }
                &:hover{
                  &::before{
                    opacity: 1;
                  }
                }
              }
              .emoji_count{
                margin-left: -6px;
              }
              .like{
                &::before{
                  content: "讚好";
                }
              }
              .happy{
                &::before{
                  content: "哈哈";
                }
              }
              .angry{
                &::before{
                  content: "嬲";
                }
              }
            }
            .sad_emoji{
              display: flex;
              align-items: center;
              .emoji_image{
                height: 65px;
                width: 65px;
                position: relative;
                cursor: pointer;
                &::before{
                  content: "傷心";
                  background-color: rgba(0,0,0,0.78);
                  color: #fff;
                  font-size: 12px;
                  padding: 2px 8px;
                  border-radius: 18px;
                  position: absolute;
                  top: -18px;
                  left: 50%;
                  opacity: 0;
                  white-space: nowrap;
                  transition: opacity 0.2s ease-in-out 0s;
                  transform: translateX(-50%);
                }
                &:hover{
                  &::before{
                    opacity: 1;
                  }
                }
              }
              .emoji_count{
                margin-left: -6px;
              }
            }
          }
        }
        aside.sidebar{
          @include max-sidebar-width;
          .sticky_sidebar{
            .sidebar_section{
              margin-right: 6px;
              border: solid 1px rgba(0,0,0,0.12);
              header{
                font-weight: 600;
                padding: 4px 8px;
                box-shadow: inset 0 -1px 2px 0 rgba(0,0,0,0.6);
              }
              .video_list_scrollable{
                max-height: 90vh;
                overflow-y: auto;
                ul.video_list{
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
    .trending_content{
      @include max-view-width;
      .trending_content_section{
        margin-bottom: 20px;
        .component_header{
          font-size: 16px;
          font-weight: 600;
          margin-top: -10px;
          margin-bottom: 5px;
          padding: 0 8px 5px 8px;
          position: relative;
          display: flex;
        }
      }
    }
    .advice_videos{
      @include max-view-width;
      header.advice_videos_header{
        padding-left: 6px;
        h2{
          font-size: 18px;
          font-weight: 700;
        }
      }
      .video_list{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .bottom_typing_comment{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    .comment_row{
      color: rgba(0,0,0,0.78);
      padding: 0 16px;
      border-top: solid 1px #e2e2e2;
      .like_and_comments_count{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .emoji_comments_count{
          font-size: 11px;
          display: flex;
          align-items: center;
          cursor: pointer;
          .emoji_comments{
            margin-right: 5px;
            display: flex;
            align-items: center;
            .emoji_comment{
              &:nth-child(1){
                z-index: 3;
              }
              &:nth-child(2){
                z-index: 2;
              }
              &:nth-child(3){
                z-index: 1;
              }
              &:nth-child(4){
                z-index: 0;
              }
            }
            .like_emoji{
              height: 18px;
              width: 18px;
              position: relative;
              border: solid 1px #ffcfcc;
              border-radius: 50%;
            }
            .happy_emoji,.sad_emoji,.angry_emoji{
              height: 18px;
              width: 18px;
              margin-left: -4px;
              position: relative;
              border: solid 1px #ffcfcc;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .typing_comment{
      margin: 0 10px;
      padding: 5px 0 10px 0;
      border-top: solid 1px #e2e2e2;
      display: flex;
      align-items: center;
      .give_emoji_comment{
        padding: 0 6px;
        .give_emoji_comment_logo{
          height: 24px;
          width: 24px;
          cursor: pointer;
        }
        .absolute_choose_emoji{
          position: absolute;
          bottom: 52px;
          left: 12px;
          z-index: 12;
          .choose_emoji{
            background-color: rgba(255,255,255,0.87);
            margin-left: 16px;
            padding: 0 16px 2px 16px;
            border-radius: 50px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            display: flex;
            transition: all 0.2s ease-in-out 0s;
            .choose_emoji_section{
              font-size: 12px;
              display: flex;
              align-items: center;
              .emoji{
                text-align: center;
                .emoji_image{
                  height: 62px;
                  width: 62px;
                  position: relative;
                  cursor: pointer;
                  &::before{
                    background-color: rgba(0,0,0,0.78);
                    color: #fff;
                    font-size: 12px;
                    padding: 2px 8px;
                    border-radius: 18px;
                    position: absolute;
                    top: -18px;
                    left: 50%;
                    opacity: 0;
                    white-space: nowrap;
                    transition: opacity 0.2s ease-in-out 0s;
                    transform: translateX(-50%);
                  }
                  &:hover{
                    &::before{
                      opacity: 1;
                    }
                  }
                }
                .emoji_count{
                  margin-top: -6px;
                }
                .like{
                  &::before{
                    content: "讚好";
                  }
                }
                .happy{
                  &::before{
                    content: "哈哈";
                  }
                }
                .angry{
                  &::before{
                    content: "嬲";
                  }
                }
              }
              .sad_emoji{
                text-align: center;
                .emoji_image{
                  height: 65px;
                  width: 65px;
                  position: relative;
                  cursor: pointer;
                  &::before{
                    content: "傷心";
                    background-color: rgba(0,0,0,0.78);
                    color: #fff;
                    font-size: 12px;
                    padding: 2px 8px;
                    border-radius: 18px;
                    position: absolute;
                    top: -18px;
                    left: 50%;
                    opacity: 0;
                    white-space: nowrap;
                    transition: opacity 0.2s ease-in-out 0s;
                    transform: translateX(-50%);
                  }
                  &:hover{
                    &::before{
                      opacity: 1;
                    }
                  }
                }
                .emoji_count{
                  margin-top: -6px;
                }
              }
            }
          }
        }
      }
      .comment_textarea{
        flex: 1 1 auto;
        .comment_area{
          width: 100%;
          font-size: 12px;
          background-color: #fff;
          padding: 6px 16px;
          border: solid 1px rgba(0, 0, 0, 0.116);
          border-radius: 20px;
          outline: none;
          display: block;
          resize: none;
        }
      }
      .send_icon,.image_icon,.share_icon{
        padding: 0 8px;
        .fontawesome_icon{
          font-size: 18px;
          color: #6c757d;
        }
      }
    }
  }
}