@media screen and (min-width:1000px){
  .category_component_header{
    .more_button{
      .swiper_arrow,.arrow{
        display: flex;
      }
    }
  }
}
@media screen and (max-width:1000px){
  .category_component_header{
    .more_button{
      .more,.arrow{
        display: none;
      }
      .swiper_arrow{
        display: flex;
      }
    }
  }
}
.category_component_header{
	font-weight: 600;
	margin-bottom: 5px;
  padding: 0 3px 5px 3px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.border_line{
		height: 1px;
		position: absolute;
		bottom: 0;
    left: 3px;
    right: 3px;
	}
	.more_button{
		display: flex;
		align-items: center;
		.swiper_more,.more{
			margin-right: 5px;
		}
		.swiper_arrow,.arrow{
			height: 20px;
			width: 20px;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
		}
	}
}