@mixin max-view-width(){
  @media screen and (min-width:600px){
    max-width: 77vw;
    margin: 0 auto;
  }
  @media screen and (min-width:1200px){
    max-width: calc(100vw - 118px - 118px);
    margin: 0 auto;
  }
  @media screen and (min-width:1346px){
    max-width: 1110px;
    margin: 0 auto;
  }
}
@mixin max-carousel-width(){
  @media screen and (min-width:1160px){
    width: 666px;
    margin-right: 2px;
  }
  @media screen and (max-width:1160px){
    width: 100%;
  }
}
@media screen and (min-width:500px){
  .category.pid{
    .category_content_for_searching,.category_content_scroll,.category_content{
      .dark_background_block{
        .dark_background_block_section{
          .video_list{
            .video_block{
              .video_title{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:500px){
  .category.pid{
    .category_content_for_searching,.category_content_scroll,.category_content{
      .dark_background_block{
        .dark_background_block_section{
          .video_list{
            .video_block{
              .video_title{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:600px){
  .category.pid{
    .category_header_scroll,.category_header{
      .category_header_width{
        padding: 8px 0;
        .flex_header{
          flex-direction: column;
          h2{
            font-size: 24px;
          }
          .shadow{
            line-height: 30px;
            margin-bottom: -8px;
          }
        }
      }
    }
    .category_header_scroll{
      top: 40px;
    }
    .category_header{
      top: 80px;
      .category_header_width{
        .flex_header{
          h2{
            padding-left: 8px;
          }
          .shadow{
            .sub_category_bar_horizontal_scroll{
              .sub_category_bar{
                .sub_category_items{
                  padding-left: 8px;
                }
              }
            }
          }
        }
      }
    }
    .category_content_for_searching{
      margin-top: 80px;
    }
    .category_content_scroll{
      margin-top: 114px;
    }
    .category_content{
      margin-top: 154px;
    }
  }
}
@media screen and (max-width:600px){
  .category.pid{
    .category_header_scroll,.category_header{
      .category_header_width{
        .flex_header{
          flex-direction: row;
          h2{
            height: 100%;
            line-height: 40px;
            font-size: 18px;
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            &::after{
              content: "";
              height: 100%;
              width: 16px;
              background: linear-gradient(to right,rgba(0,0,0,0.384),rgba(0,0,0,0));
              position: absolute;
              top: 0px;
              right: -16px;
              z-index: 2;
            }
          }
          .shadow{
            .sub_category_bar_horizontal_scroll{
              line-height: 40px;
              .sub_category_bar{
                .sub_category_items{
                  padding-left: 15px;
                }
              }
            }
            &::before{
              content: "";
              height: 100%;
              width: 16px;
              background: linear-gradient(to right,#3997a9,rgba(57,151,169,0));
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 1;
            }
            &::after{
              content: "";
              height: 100%;
              width: 16px;
              background: linear-gradient(to left,#3997a9,rgba(57,151,169,0));
              position: absolute;
              top: 0px;
              right: 0px;
              z-index: 1;
            }
          }
        }
      }
    }
    .category_header_scroll{
      top: 44px;
    }
    .category_header{
      top: 88px;
    }
    .category_content_for_searching{
      margin-top: 88px;
    }
    .category_content_scroll{
      margin-top: 84px;
    }
    .category_content{
      margin-top: 128px;
    }
  }
}
@media screen and (min-width:1000px){
  .category.pid{
    .category_content_for_searching,.category_content_scroll,.category_content{
      .big_block_sub_category,.sub_category,.dark_background_block{
        .more_button{
          display: none;
        }
      }
      .dark_background_block{
        .dark_background_block_section{
          padding: 10px 0;
          .video_list{
            .main_video_block,.video_block{
              width: 33.33%;
              padding: 5px;
              flex-direction: column;
              .image_width{
                width: 100%;
              }
              .video_title{
                height: 63px;
                padding: 6px;
              }
              .display_date{
                padding: 6px;
              }
            }
            .video_block{
              width: 33.33%;
            }
          }
        }
      }
      .closest_videos{
        .closest_videos_section{
          .video_list{
            .blank_block{
              width: 33.33%;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:1000px){
  .category.pid{
    .category_content_for_searching,.category_content_scroll,.category_content{
      .dark_background_block{
        .dark_background_block_section{
          padding: 10px 0 5px 0;
          .video_list{
            .main_video_block,.video_block{
              width: 100%;
              padding: 8px 3px;
              flex-flow: column wrap;
              .main_image_width{
                width: 100%;
              }
            }
            .main_video_block{
              .video_title{
                height: 63px;
                padding: 6px;
              }
              .image_width{
                width: 100%;
              }
              .display_date{
                padding: 6px;
              }
            }
            .video_block{
              height: 140px;
              .image_width{
                width: 220px;
              }
              .video_title{
                width: calc(100% - 220px);
                padding: 6px 8px 0 16px;
                flex: 1 1 auto;
              }
              .display_date{
                padding-bottom: 6px;
                padding-left: 16px;
              }
            }
          }
        }
      }
      .closest_videos{
        .closest_videos_section{
          .video_list{
            .blank_block{
              width: 100%;
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:1160px){
  .category.pid{
    .category_content_for_searching,.category_content_scroll,.category_content{
      .page{
        .body{
          .main_content{
            .side_carousel{
              height: 375px;
              width: 220px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:1160px){
  .category.pid{
    .category_content_for_searching,.category_content_scroll,.category_content{
      .page{
        .body{
          .main_content{
            .side_carousel{
              height: 0;
              width: 0;
            }
          }
        }
      }
    }
  }
}
.category.pid{
  font-size: 14px;
  .category_header_scroll,.category_header{
    background-color: #3997a9;
    color: #fff;
    box-shadow: rgba(0,33,155,0.12) 0px 2px 6px 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 14;
    transition: all 0.2s ease 0s;
    .category_header_width{
      @include max-view-width;
      .flex_header{
        display: flex;
        h2{
          position: relative;
          white-space: nowrap;
          transition: padding-left 0.2s ease-in-out 0s;
        }
        .shadow{
          position: relative;
          overflow-x: hidden;
          .sub_category_bar_horizontal_scroll{
            overflow-x: auto;
            .sub_category_bar{
              height: 100%;
              display: flex;
              align-items: center;
              .sub_category_items{
                margin-bottom: 0;
                list-style: none;
                display: flex;
                align-items: center;
                transition: padding-left 0.2s ease-in-out 0s;
                .sub_category_item{
                  height: 100%;
                  font-weight: 500;
                  margin-right: 15px;
                  display: flex;
                  align-items: center;
                  white-space: nowrap;
                  a{
                    text-decoration: none;
                    color: #fff;
                  }
                }
                .active{
                  font-weight: 600;
                  position: relative;
                  &::after{
                    content: "";
                    height: 3px;
                    width: 100%;
                    background-color: #fff;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .category_header_for_searching{
    background-color: #fbfafa;
    box-shadow: none;
    .category_header_width{
      display: none;
    }
  }
  .category_content_for_searching,.category_content_scroll,.category_content{
    padding-bottom: 25px;
    transition: margin-top 0.5s ease-in-out 0s;
    .page{
      @include max-view-width;
      .body{
        margin-bottom: 20px;
        .main_content{
          padding: 0 3px;
          display: flex;
          .carousel{
            @include max-carousel-width;
            .video_block{
              width: 100%;
              position: relative;
              .video_block_link{
                color: #fff;
                &:hover{
                  text-decoration: none;
                  color: #adadad;
                }
                .image{
                  width: 100%;
                  position: relative;
                  overflow: hidden;
                  aspect-ratio: 16/9;
                }
                .video_description{
                  width: 100%;
                  padding: 16px;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  text-align: left;
                  z-index: 1;
                  .carousel_category{
                    margin-bottom: 8px;
                    a{
                      font-weight: 600;
                      text-decoration: none;
                      background-color: #db5959;
                      color: #fff;
                      padding: 5px 10px;
                      border-radius: 4px;
                      &:hover{
                        background-color: rgba(219,89,89,0.8);
                        color: #e2e2e2;
                      }
                    }
                  }
                  .video_title{
                    font-size: 20px;
                    font-weight: 600;
                  }
                  .display_date{
                    font-size: 10px;
                    color: #adadad;
                    &:hover{
                      color: #747474;
                    }
                  }
                }
              }
              &::after{
                content: "";
                height: 70%;
                width: 100%;
                background-image: linear-gradient(rgba(3, 7, 15, 0), rgba(3, 7, 15, 0.7));
                color: #000;
                position: absolute;
                bottom: 0px;
                z-index: 0;
                pointer-events: none;
              }
            }
          }
          .side_carousel{
            .video_block{
              width: 100%;
              position: relative;
              .video_block_link{
                color: #fff;
                &:hover{
                  text-decoration: none;
                  color: #adadad;
                }
                .image{
                  width: 100%;
                  position: relative;
                  overflow: hidden;
                  aspect-ratio: 16/9;
                }
                .video_title{
                  width: 100%;
                  font-size: 12px;
                  font-weight: 600;
                  padding: 8px;
                  position: absolute;
                  bottom: 0;
                  text-align: left;
                  left: 0;
                  z-index: 1;
                }
              }
              &::after{
                content: "";
                height: 70%;
                width: 100%;
                background-image: linear-gradient(rgba(3, 7, 15, 0), rgba(3, 7, 15, 0.7));
                color: #000;
                position: absolute;
                bottom: 0px;
                z-index: 0;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
    .category_long_swiper{
      @include max-view-width;
      .long_swiper{
        margin: 0 4px 15px 0;
      }
    }
    .big_block_sub_category{
      @include max-view-width;
      .big_block_sub_category_section{
        margin-bottom: 15px;
        .video_list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
        .more_button{
          margin: 0 3px;
          .more_button_section{
            padding-bottom: 8px;
            .see_more{
              width: 100%;
              background-color: transparent;
              color: rgba(0,0,0,0.78);
              padding: 6px 0;
              border: solid 1px #adadad;
              border-radius: 4px;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              .more{
                font-weight: 500;
                padding-right: 5px;
              }
              .fontawesome_icon{
                font-size: 12px;
                color: #adadad;
              }
            }
          }
        }
      }
    }
    .sub_category{
      @include max-view-width;
      .sub_category_section{
        margin-bottom: 15px;
        .video_list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
        .more_button{
          margin: 0 3px;
          .more_button_section{
            padding-bottom: 8px;
            .see_more{
              width: 100%;
              background-color: transparent;
              color: rgba(0,0,0,0.78);
              padding: 6px 0;
              border: solid 1px #adadad;
              border-radius: 4px;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              .more{
                font-weight: 500;
                padding-right: 5px;
              }
              .fontawesome_icon{
                font-size: 12px;
                color: #adadad;
              }
            }
          }
        }
      }
    }
    .dark_background_block{
      background-color: #343a40;
      margin-bottom: 15px;
      .dark_background_block_section{
        @include max-view-width;
        .video_list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .main_video_block,.video_block{
            display: flex;
            &:hover{
              text-decoration: none;
              color: #adadad;
            }
            .image_width{
              .image{
                width: 100%;
                position: relative;
                overflow: hidden;
                aspect-ratio: 16/9;
              }
            }
            .video_title{
              font-weight: 500;
              background-color: #515050;
              color: #fff;
              text-align: left;
            }
            .display_date{
              font-size: 10px;
              background-color: #515050;
              color: #adadad;
              &:hover{
                color: #747474;
              }
            }
          }
          .main_video_block{
            .video_title{
              font-size: 18px;
            }
          }
        }
        .more_button{
          margin: 0 3px;
          .more_button_section{
            padding: 12px 0;
            .see_more{
              width: 100%;
              background-color: transparent;
              color: #fff;
              padding: 6px 0;
              border: solid 1px #adadad;
              border-radius: 4px;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              .more{
                font-weight: 500;
                padding-right: 5px;
              }
              .fontawesome_icon{
                font-size: 12px;
                color: #adadad;
              }
            }
          }
        }
      }
    }
    .closest_videos{
      margin-bottom: 15px;
      .closest_videos_section{
        @include max-view-width;
        .component_header{
          font-size: 16px;
          font-weight: 600;
          color: #db5959;
          padding: 0 3px 5px 3px;
        }
        .video_list{
          display: flex;
          flex-wrap: wrap;
          .blank_block{
            padding: 0 5px;
            .blank{
              height: 100%;
              min-width: 0;
              width: 100%;
              background-color: #f3f3f3;
              display: flex;
              align-items: center;
              justify-content: center;
              .flex_grow{
                width: 100%;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}