@mixin max-view-width(){
  @media screen and (min-width:600px){
    max-width: 77vw;
    margin: 0 auto;
  }
  @media screen and (min-width:1200px){
    max-width: calc(100vw - 118px - 118px);
    margin: 0 auto;
  }
  @media screen and (min-width:1346px){
    max-width: 1110px;
    margin: 0 auto;
  }
}
@mixin max-carousel-width{
  @media screen and (min-width:1160px){
    width: 666px;
    margin-right: 2px;
  }
  @media screen and (max-width:1160px){
    width: 100%;
  }
}
@media screen and (min-width:600px){
  .category.pid{
    .category_content{
      margin-top: 80px;
    }
  }
}
@media screen and (max-width:600px){
  .category.pid{
    .category_content{
      margin-top: 88px
    }
  }
}
@media screen and (min-width:1000px){
  .category.pid{
    .category_content{
      .big_block_sub_category,.sub_category,.dark_background_block{
        .more_button{
          display: none;
        }
      }
      .dark_background_block{
        .dark_background_block_section{
          .video_list{
            .video_block{
              width: 33.33%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:1000px){
  .category.pid{
    .category_content{
      .dark_background_block{
        .dark_background_block_section{
          .video_list{
            .video_block{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:1160px){
  .category.pid{
    .category_content{
      .page{
        .body{
          .main_content{
            .side_carousel{
              height: 375px;
              width: 220px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:1160px){
  .category.pid{
    .category_content{
      .page{
        .body{
          .main_content{
            .side_carousel{
              height: 0;
              width: 0;
            }
          }
        }
      }
    }
  }
}
.category.pid{
  font-size: 14px;
  .category_content{
    padding-bottom: 25px;
    .page{
      @include max-view-width;
      .body{
        margin-bottom: 20px;
        .main_content{
          padding: 0 3px;
          display: flex;
          .carousel{
            @include max-carousel-width;
            .video_block{
              width: 100%;
              position: relative;
              .video_block_link{
                color: #fff;
                &:hover{
                  text-decoration: none;
                  color: #adadad;
                }
                .image{
                  width: 100%;
                  position: relative;
                  overflow: hidden;
                  aspect-ratio: 16/9;
                }
                .video_description{
                  width: 100%;
                  text-align: left;
                  padding: 16px;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  .carousel_category{
                    margin-bottom: 8px;
                    a{
                      font-weight: 600;
                      text-decoration: none;
                      background-color: #db5959;
                      color: #fff;
                      padding: 5px 10px;
                      border-radius: 4px;
                      &:hover{
                        background-color: rgba(219,89,89,0.8);
                        color: #e2e2e2;
                      }
                    }
                  }
                  .video_title{
                    font-size: 20px;
                    font-weight: 600;
                  }
                  .display_date{
                    font-size: 10px;
                    color: #adadad;
                    &:hover{
                      color: #747474;
                    }
                  }
                }
              }
              &::after{
                content: "";
                height: 70%;
                width: 100%;
                background-image: linear-gradient(rgba(3, 7, 15, 0), rgba(3, 7, 15, 0.7));
                color: #000;
                position: absolute;
                bottom: 0px;
                z-index: 0;
                pointer-events: none;
              }
            }
          }
          .side_carousel{
            .video_block{
              width: 100%;
              position: relative;
              .video_block_link{
                color: #fff;
                &:hover{
                  text-decoration: none;
                  color: #adadad;
                }
                .image{
                  width: 100%;
                  position: relative;
                  overflow: hidden;
                  aspect-ratio: 16/9;
                }
              }
            }
          }
        }
      }
    }
    .category_long_swiper{
      @include max-view-width;
      .long_swiper{
        margin: 0 4px 15px 0;
      }
    }
    .big_block_sub_category{
      @include max-view-width;
      .big_block_sub_category_section{
        margin-bottom: 15px;
        .video_list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
        .more_button{
          margin: 0 3px;
          .more_button_section{
            padding-bottom: 8px;
            .see_more{
              width: 100%;
              background-color: transparent;
              color: rgba(0,0,0,0.78);
              padding: 8px 0;
              border: solid 1px #adadad;
              border-radius: 4px;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              .more{
                font-weight: 500;
                padding-right: 5px;
              }
              .fontawesome_icon{
                font-size: 12px;
                color: #adadad;
              }
            }
          }
        }
      }
    }
    .sub_category{
      @include max-view-width;
      .sub_category_section{
        margin-bottom: 15px;
        .video_list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
        .more_button{
          margin: 0 3px;
          .more_button_section{
            padding-bottom: 8px;
            .see_more{
              width: 100%;
              background-color: transparent;
              color: rgba(0,0,0,0.78);
              padding: 8px 0;
              border: solid 1px #adadad;
              border-radius: 4px;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              .more{
                font-weight: 500;
                padding-right: 5px;
              }
              .fontawesome_icon{
                font-size: 12px;
                color: #adadad;
              }
            }
          }
        }
      }
    }
    .dark_background_block{
      background-color: #343a40;
      margin-bottom: 15px;
      .dark_background_block_section{
        @include max-view-width;
        padding: 10px 0 5px 0;
        .video_list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .video_block{
            color: #fff;
            padding: 5px;
            &:hover{
              text-decoration: none;
              color: #adadad;
            }
            .image{
              width: 100%;
              position: relative;
              overflow: hidden;
              aspect-ratio: 16/9;
            }
            .video_description{
              background-color: #515050;
              padding: 6px;
              text-align: left;
              .video_title{
                height: 63px;
                font-size: 18px;
                font-weight: 600;
              }
              .display_date{
                font-size: 10px;
                color: #adadad;
                &:hover{
                  color: #747474;
                }
              }
            }
          }
        }
        .more_button{
          margin: 0 3px;
          .more_button_section{
            padding: 12px 0;
            .see_more{
              width: 100%;
              background-color: transparent;
              color: #fff;
              padding: 8px 0;
              border: solid 1px #adadad;
              border-radius: 4px;
              outline: none;
              display: flex;
              align-items: center;
              justify-content: center;
              .more{
                font-weight: 500;
                padding-right: 5px;
              }
              .fontawesome_icon{
                font-size: 12px;
                color: #adadad;
              }
            }
          }
        }
      }
    }
    .closest_videos{
      margin-bottom: 15px;
      .closest_videos_section{
        @include max-view-width;
        .component_header{
          font-size: 16px;
          font-weight: 600;
          color: #db5959;
          padding: 0 3px 5px 3px;
        }
        .video_list{
          display: flex;
          flex-wrap: wrap;
          .blank_block{
            width: 33.33%;
            margin: 5px 0;
            padding: 0 5px;
            .blank{
              height: 100%;
              min-width: 0;
              width: 100%;
              background-color: #f3f3f3;
              display: flex;
              align-items: center;
              justify-content: center;
              .flex_grow{
                width: 100%;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}