@media screen and (min-width:600px){
  .vjs-matrix.video-js{
    border-radius: 8px;
    .vjs-tech,.vjs-error-display{
      border-radius: 8px;
    }
    .vjs-control-bar{
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
.vjs-matrix.video-js{
  cursor: pointer;
  z-index: 10;
	.vjs-big-play-button{
    height: 1.7em;
    width: 1.7em;
		top:50%;
		left:50%;
		margin-top:-.75em;
		margin-left:-.75em;
    border: 0px none;
    border-radius: 50%;
    .vjs-icon-placeholder{
      &::before{
        position: relative;
        vertical-align: middle;
      }
    }
	}
}