<<<<<<< HEAD
.vjs-matrix.video-js{
  border-radius: 8px;
  cursor: pointer;
  .vjs-tech{
    border-radius: 8px;
  }
	.vjs-big-play-button{
    height: 1.7em;
    width: 1.7em;
		top:50%;
		left:50%;
		margin-top:-.75em;
		margin-left:-.75em;
    border: 0px none;
    border-radius: 50%;
    .vjs-icon-placeholder{
      &::before{
        position: relative;
        vertical-align: middle;
      }
    }
	}
  .vjs-control-bar{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
=======
.vjs-matrix{
	.vjs-big-play-button{
		top:50%;
		left:50%;
		margin-top:-.75em;
		margin-left:-1.5em;
	}
>>>>>>> 33e5c6e24b54367167db8e7a1b78afc2c1808194
}