.home_full_screen_video_block{
  width: 100%;
  padding: 8px 0;
  .video_block{
    color: #000;
    &:hover{
      text-decoration: none;
      color: #adadad;
    }
    .image{
      width: 100%;
      margin-bottom: 5px;
      position: relative;
      overflow: hidden;
      aspect-ratio: 16/9;
    }
    .video_description{
      padding: 0 6px;
      text-align: left;
      .video_title{
        font-weight: 600;
      }
      .display_date{
        font-size: 10px;
        color: #747474;
        &:hover{
          color: #adadad;
        }
      }
    }
  }
}