@media screen and (min-width:600px){
  .category_video_block{
    .video_block_link{
      .video_title{
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width:600px){
  .category_video_block{
    .video_block_link{
      .video_title{
        font-size: 14px;
      }
    }
  }
}
@media screen and (min-width:1000px){
  .category_video_block{
    width: 33.33%;
    padding: 5px;
    .main_video_block_link,.video_block_link{
      flex-direction: column;
      .main_image_width,.image_width{
        width: 100%;
      }
      .video_title{
        height: 63px;
        padding: 6px;
      }
      .display_date{
        padding: 6px;
      }
    }
  }
}
@media screen and (max-width:1000px){
  .category_video_block{
    width: 100%;
    padding: 8px 3px;
    .main_video_block_link,.video_block_link{
      flex-flow: column wrap;
      .main_image_width{
        width: 100%;
      }
      .image_width{
        width: 220px;
        padding-right: 8px;
      }
    }
    .main_video_block_link{
      .video_title{
        height: 63px;
        padding: 6px;
      }
      .display_date{
        padding: 6px;
      }
    }
    .video_block_link{
      height: 119px;
      .video_title{
        width: calc(100% - 220px - 8px);
        padding-top: 6px;
        flex: 1 1 auto;
      }
      .display_date{
        padding-bottom: 6px;
      }
    }
  }
}
.category_video_block{
  .main_video_block_link,.video_block_link{
    background-color: #f3f3f3;
    color: #1a1e28;
    display: flex;
    &:hover{
      text-decoration: none;
      color: #adadad;
    }
    .main_image_width,.image_width{
      .image{
        width: 100%;
        position: relative;
        overflow: hidden;
        aspect-ratio: 16/9;
        &::before{
          content: "";
          height: 0px;
          min-height: 90px;
          background-color: #f3f3f3;
          background-image: url("../../public/image/image.png");
          background-repeat: no-repeat;
          background-size: 30%;
          background-position: 50% center;
          padding-top: 56.25%;
          display: block;
          overflow: hidden;
        }
      }
    }
    .video_title{
      font-weight: 500;
      text-align: left;
    }
    .display_date{
      font-size: 10px;
      color: #747474;
      &:hover{
        color: #adadad;
      }
    }
  }
  .main_video_block_link{
    .video_title{
      font-size: 18px;
    }
  }
}